.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: -30px;
}

.container > div {
  min-width: 320px;
  padding: 1rem 2rem;
}

.title {
  font-family: Rajdhani;
  border-bottom: thin solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.body {
  margin: 25px 0;
  border-bottom: thin solid rgba(0, 0, 0, 0.05);
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.lang {
  display: flex;
  justify-content: space-evenly;
}
